{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}


{% block content  %}
            <h1>Категорії</h1>
           
            <div class="wrapper">
                {% for category in categories %}
                <a href="{% url 'main:subcategories' category.slug %}">
                    {% if not category.parent_category %}

                    <div class="category">
                        {% if  category.img  %}
                        <figure> 
                            <img src="{{category.img.url}}" alt="category.name">
                        </figure>
                    
                    {% else %}
                        ...
                    {% endif %}
                        
                        
                        <h2>{{category.name}}</h2>
                        <p>{{category.description}}</p>
                    </div> 
                    {% endif %}
                </a>
                {% endfor %}
            </div>
{% endblock  %}


