{% extends "base.html" %}
{% load static %}

{% block title %}
    {{category}}
{% endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>        

    {% for category in categories %}
    <div class="post-subcategory">
        {% if subcategory.img %}
        <figure><img src="{{ category.img.url }}" alt="{{ category.name }}"></figure>
        {% endif %}
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <a href="{% url 'main:subcategories' category.slug %}" class="btn btn-primary">Continue Reading</a>
    </div>
    {% endfor %}

    {% comment %}
     {% for post in posts %}
    <div class="post-subcategory">
        {% if post.img %}
        <figure>
            <img src="{{ post.img.url }}" alt="{{ post.name }}">
        </figure>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
         <a href="{% url 'main:subcategories' category.slug %}" class="btn btn-primary">View</a> 
    </div>
    {% endfor %} 
    {% endcomment %}

    {% for post in posts %}
    <div class="post post2">
      <div class="post-img">
            {% if not post.img %}
            <img src="{% static 'img/python.png' %}" alt="">
            {% else %}
                <img src="{{ post.img.url }}" alt="{{ post.name }}">
            {% endif %}
            
        </div> 
        <div class="post-content">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}
                
            </p>
            <a href="">Continue Reading
            </a>
        </div>
    </div>
    {% endfor %}

    <div class="post2">
          <div class="post2-content">
            <a href="">
                <h2>Design is as much an act of spacing as an act of marking.</h2>
            </a>
              
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est minus iste in accusantium repellat repudiandae nulla blanditiis iusto dolores!</p>
                  
          </div>
      </div>


</div>
{% endblock content %}

