{% extends "base.html" %}
{% load static %}

{% block title %}
    {{category}}
{% endblock title %}

{% block content %}
<h1>{{ category.name }}</h1>        

    {% for category in categories %}
    <div class="post-subcategory">
        {% if subcategory.img %}
        <figure><img src="{{ category.img.url }}" alt="{{ category.name }}"></figure>
        {% endif %}
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <a href="{% url 'main:subcategories' category.slug %}" class="btn btn-primary">Continue Reading</a>
    </div>
    {% endfor %}

    {% comment %}
     {% for post in posts %}
    <div class="post-subcategory">
        {% if post.img %}
        <figure>
            <img src="{{ post.img.url }}" alt="{{ post.name }}">
        </figure>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
         <a href="{% url 'main:subcategories' category.slug %}" class="btn btn-primary">View</a> 
    </div>
    {% endfor %} 
    {% endcomment %}

    {% for post in posts %}

    {% if not post.img %}
    <div class="post2 post-base">
          <div class="post2-content">
            <a href="">
                <h2>{{ post.name }}</h2>
            </a>
               {{ post.content| safe }}
                  
          </div>
      </div>

      {% else %}
      <div class="post ">
        <div class="post-img ">  
           <img src="{{ post.img.url }}" alt="{{ post.name }}">
        </div> 

        <div class="post-content">
            <h2>{{ post.name }}</h2>
            {{ post.content| safe }}
             <a href="">Continue Reading</a>
        </div>
        </div>
{% endif %}
{% endfor %}


</div>
{% endblock content %}

{% block nav %}
<nav>
    <ul> Закріплені публікації

        {% comment %} {% tag_navs as  navs %}
        {% for nav in navs  %}
        <li>{{nav.name}}</li>
        {% endfor %} {% endcomment %}
        {% for pinned_post in pinned_posts %}
        <li>{{ pinned_post.post }}</li>
        {% endfor %}

    </ul>
</nav>
{% endblock nav %}

